.Alphabet {
  margin: auto 1rem;
  margin-left: 3rem;
  padding: 2rem;
  width: 20%;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
}
.Frame {
  border: 2px solid white;
  padding: 0.5rem;
  width: auto;
  font-size: x-large;
  color: white;
  font-weight: 600;
}

.Frame:hover {
  cursor: pointer;
}

.LetterClicked {
  border: 2px solid white;
  padding: 0.5rem;
  width: auto;
  font-size: x-large;
  color: grey;
  font-weight: 600;
  background-color: white;
  cursor: default;
}
